.movie-container{
    
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, red, blue);
}
.m-style{
    /* position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, rgb(249, 0, 0), rgb(0, 0, 0));
    height: 50%;
    width: 50%;
    color: #ffffff;
    font-size: 20px;
    font-weight: 200;
    mix-blend-mode: multiply; */
    color: #ffffff;
    background: linear-gradient(45deg, rgb(44, 39, 39), rgb(0, 107, 109));

}
.movie-container >h2{
    font-size: 2.3rem;
    color: aliceblue;
}
li{
    list-style: none;
  } 
.movie-list{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.movie{
    
    margin: 5px;
    padding: 15px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    /* display: flex; */
    /* justify-content: center; */
    /* justify-items: center;
    flex-direction: column; */
}
.movie >p{
    color: azure;
    font-size: 16px;
}